.icon22 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button39 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-050) var(--space-050);
  box-sizing: border-box;
  min-height: 32px;
}
.icon-before19,
.navigator2 {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-before19 {
  width: 24px;
  height: 24px;
  display: none;
}
.children20 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.container46 {
  align-items: center;
  justify-content: center;
  gap: var(--space-050);
}
.button40,
.container46,
.page13 {
  display: flex;
  flex-direction: row;
}
.button40 {
  border-radius: var(--br-10xs);
  background-color: var(--color-background-selected-default);
  align-items: center;
  justify-content: center;
  padding: var(--space-150) var(--space-150);
  box-sizing: border-box;
  min-height: 32px;
}
.page13 {
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--buttom);
}
.ellipses-label2 {
  position: relative;
  line-height: 20px;
}
.ellipsis2 {
  height: 32px;
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-100) var(--space-100);
  box-sizing: border-box;
  font-family: var(--internal-side-navigation-button-item-description);
}
.children21 {
  position: relative;
  line-height: 120%;
  font-weight: 500;
}
.button41 {
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-150) var(--space-150);
  box-sizing: border-box;
  min-height: 32px;
}
.page14,
.page15 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.page14 {
  display: flex;
}
.page15 {
  display: none;
}
.ellipsis3,
.pagination1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ellipsis3 {
  height: 32px;
  overflow: hidden;
  justify-content: center;
  padding: var(--space-100) var(--space-100);
  box-sizing: border-box;
  font-family: var(--internal-side-navigation-button-item-description);
}
.pagination1 {
  position: absolute;
  top: 792px;
  left: 1259px;
  justify-content: flex-start;
}
.search3 {
  flex: 1;
  position: relative;
  line-height: 20px;
  z-index: 0;
}
.icon-searchicon1 {
  position: absolute;
  margin: 0 !important;
  top: 6px;
  left: 10px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.box25,
.search2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.search2 {
  border-radius: var(--br-8xs);
  background-color: var(--color-text-inverse);
  border: 2px solid var(--color-border-input);
  box-sizing: border-box;
  width: 372px;
  height: 32px;
  align-items: center;
  padding: var(--space-100) var(--space-100) var(--space-100) var(--space-500);
  position: relative;
  font-size: var(--buttom-size);
  color: var(--deprecated-light-colortextsubtlest);
  font-family: var(--h2);
}
.box25 {
  border-radius: var(--br-base);
  background-color: var(--color-background-neutral-subtle-default);
  align-items: flex-start;
  padding: var(--space-050);
  z-index: 0;
}
.children33 {
  position: relative;
  line-height: 12px;
}
.badge1 {
  margin: 0 !important;
  position: absolute;
  top: -2px;
  right: -4px;
  border-radius: var(--br-5xs);
  background-color: var(--danger);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--space-025) var(--space-075);
  z-index: 1;
}
.tooltip-content6 {
  flex: 1;
  position: relative;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tooltip6 {
  margin: 0 !important;
  position: absolute;
  top: 36px;
  left: calc(50% - 41.5px);
  border-radius: var(--br-10xs);
  background-color: var(--color-text-subtle);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-025) var(--space-075);
  box-sizing: border-box;
  opacity: 0;
  max-width: 420px;
  z-index: 2;
  text-align: left;
}
.notificationindicator1 {
  border-radius: var(--br-80xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  text-align: center;
}
.tooltip7 {
  margin: 0 !important;
  position: absolute;
  top: 36px;
  left: calc(50% - 25px);
  border-radius: var(--br-10xs);
  background-color: var(--color-text-subtle);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-025) var(--space-075);
  box-sizing: border-box;
  opacity: 0;
  max-width: 420px;
  z-index: 1;
}
.signin1 {
  border-radius: var(--br-80xl);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.tooltip8 {
  margin: 0 !important;
  position: absolute;
  top: 36px;
  left: calc(50% - 19px);
  border-radius: var(--br-10xs);
  background-color: var(--color-text-subtle);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--space-025) var(--space-075);
  box-sizing: border-box;
  opacity: 0;
  max-width: 420px;
  z-index: 1;
}
.global1,
.help1,
.tooltip8,
.tooltip9 {
  display: flex;
  flex-direction: row;
}
.help1 {
  border-radius: var(--br-80xl);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.global1,
.tooltip9 {
  align-items: center;
}
.tooltip9 {
  margin: 0 !important;
  position: absolute;
  top: 36px;
  left: calc(50% - 29px);
  border-radius: var(--br-10xs);
  background-color: var(--color-text-subtle);
  overflow: hidden;
  justify-content: center;
  padding: var(--space-025) var(--space-075);
  box-sizing: border-box;
  opacity: 0;
  max-width: 420px;
  z-index: 1;
}
.global1 {
  width: 452px;
  justify-content: flex-end;
  gap: var(--space-100);
}
.avatar-image-icon1 {
  position: relative;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.avatar1 {
  border-radius: var(--br-45xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tooltip-content10 {
  flex: 1;
  position: relative;
  line-height: 16px;
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tooltip10 {
  margin: 0 !important;
  position: absolute;
  top: 36px;
  right: -8px;
  border-radius: var(--br-10xs);
  background-color: var(--color-text-subtle);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-025) var(--space-075);
  box-sizing: border-box;
  opacity: 0;
  max-width: 420px;
  z-index: 1;
}
.profile1,
.right-panel1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.profile1 {
  border-radius: var(--br-80xl);
  width: 32px;
  align-items: flex-start;
  position: relative;
}
.right-panel1 {
  position: absolute;
  top: 12px;
  left: 920px;
  width: 496px;
  align-items: center;
  gap: var(--space-150);
}
.right-panel-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-text-inverse);
  width: 1440px;
  height: 56px;
  overflow: hidden;
}
.appswitcher1,
.tooltip11 {
  display: flex;
  flex-direction: row;
}
.tooltip11 {
  margin: 0 !important;
  position: absolute;
  top: 36px;
  left: -8px;
  border-radius: var(--br-10xs);
  background-color: var(--color-text-subtle);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--space-025) var(--space-075);
  box-sizing: border-box;
  opacity: 0;
  max-width: 420px;
  z-index: 1;
}
.appswitcher1 {
  border-radius: var(--br-80xl);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  font-size: var(--internal-side-navigation-button-item-description-size);
  color: var(--color-text-inverse);
  font-family: var(--internal-side-navigation-button-item-description);
}
.vn1 {
  position: absolute;
  /* bottom: 11px; */
  left: 49px;
  background: linear-gradient(106.02deg, #0052cc, #2380fb 91.82%, #2684ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.isolation-mode-icon1 {
  position: absolute;
  height: 100%;
  width: 23.13%;
  top: 0;
  right: 74.83%;
  bottom: 0;
  left: 2.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.container59 {
  position: relative;
  width: 147px;
  height: 24px;
}
.logo-light1,
.logo1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-light1 {
  width: 106px;
  overflow: hidden;
}
.logo1 {
  width: 115px;
  padding: var(--space-050);
  box-sizing: border-box;
}
.container60,
.producthome1 {
  flex-direction: row;
  justify-content: flex-start;
}
.container60 {
  border-right: 1px solid var(--color-border-input);
  display: none;
  align-items: flex-start;
  padding: var(--space-200) var(--space-200) var(--space-200) var(--space-200);
  font-size: var(--buttom-size);
  font-family: var(--internal-side-navigation-button-item-description);
}
.producthome1 {
  width: 112px;
  height: 32px;
  display: flex;
  align-items: center;
  padding: var(--space-050) var(--space-050) var(--space-050) var(--space-050);
  box-sizing: border-box;
  gap: var(--space-200);
  font-size: var(--van-web-size);
  color: var(--deprecated-light-colortextsubtlest);
  font-family: var(--van-web);
}
.label8 {
  position: relative;
  line-height: 18px;
  font-weight: 600;
}
.button54,
.button55,
.code-parts-primarybutton6 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button54 {
  border-radius: var(--br-10xs);
  background-color: var(--color-background-neutral-subtle-default);
  flex-direction: row;
  padding: var(--space-075) var(--space-075);
}
.button55,
.code-parts-primarybutton6 {
  flex-direction: column;
  padding: var(--space-150) var(--space-150);
}
.button55 {
  border-radius: var(--br-10xs);
  flex-direction: row;
  padding: var(--space-075) var(--space-075);
  z-index: 0;
}
.selected1 {
  position: absolute;
  margin: 0 !important;
  width: calc(100% - 8px);
  right: 4px;
  bottom: 0;
  left: 4px;
  border-radius: var(--br-12xs) var(--br-12xs) 0 0;
  background-color: var(--buttom);
  height: 3px;
  z-index: 1;
}
.code-parts-primarybutton7 {
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  color: var(--buttom);
}
.button60,
.code-parts-primarybutton7,
.code-parts-primarybutton8 {
  display: flex;
  align-items: center;
  padding: var(--space-150) var(--space-150);
}
.code-parts-primarybutton8 {
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
}
.button60 {
  position: absolute;
  top: 0;
  left: 43px;
  border-radius: var(--br-10xs);
  background-color: var(--buttom);
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  min-height: 32px;
}
.button-container {
  position: relative;
  width: 181px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  text-align: center;
  font-size: var(--buttom-size);
  color: var(--color-text-inverse);
}
.left-panel1 {
  position: absolute;
  top: 1px;
  left: 12px;
  width: 812px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--menu-size);
  color: var(--color-text-subtle);
  font-family: var(--h2);
}
.menu1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 57px;
  text-align: left;
  font-size: var(--internal-side-navigation-button-item-description-size);
  color: var(--color-text-inverse);
  font-family: var(--internal-side-navigation-button-item-description);
}
.minheight-controller-40px24 {
  height: 40px;
}
.header-label6 {
  flex: 1;
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.code-parts-header6,
.container62 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container62 {
  flex: 1;
  padding: var(--space-100) var(--space-100);
}
.code-parts-header6 {
  align-self: stretch;
  border-bottom: 2px solid var(--color-border-input);
  color: var(--color-text-subtle);
}
.cell-label18 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  display: none;
}
.box31,
.container63 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space-025) var(--space-025);
}
.container63 {
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-100) var(--space-100);
}
.code-parts-cell18 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-border-input);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell-label19 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.container64 {
  flex: 1;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--space-100) var(--space-100);
}
.trng-thi1 {
  position: absolute;
  top: 0;
  left: 824px;
  width: 256px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.header-label7 {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.code-parts-header7 {
  align-self: stretch;
  border-bottom: 2px solid var(--color-border-input);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: var(--color-text-subtle);
}
.nm-hc1,
.tn-trng-hc1 {
  position: absolute;
  top: 0;
  left: 552px;
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nm-hc1 {
  left: 379px;
  width: 172.9px;
}
.s-hc-sinh1 {
  left: 225px;
  width: 154px;
}
.lp-hc1,
.s-hc-sinh1,
.stt1 {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.stt1 {
  right: 972px;
  width: 108px;
}
.lp-hc1 {
  left: 108px;
  width: 117px;
}
.button61,
.button62,
.button63,
.button64,
.sa3 {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 84.62%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--ee2b8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-050) var(--space-050);
  box-sizing: border-box;
}
.button61,
.button62,
.button63,
.button64 {
  right: 63.46%;
  left: 21.15%;
  background-color: var(--buttom);
}
.button62,
.button63,
.button64 {
  right: 42.31%;
  left: 42.31%;
  background-color: var(--cce0ff);
}
.button63,
.button64 {
  right: 21.15%;
  left: 63.46%;
  background-color: var(--color-background-warning-bold-default);
}
.button64 {
  right: 0;
  left: 84.62%;
  background-color: var(--danger);
}
.button72,
.component-11,
.component-31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 208px;
  height: 32px;
}
.button72,
.component-31 {
  top: 80px;
}
.button72 {
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.62%;
  border-radius: var(--br-10xs);
  background-color: var(--color-background-neutral-subtle-hovered);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-050) var(--space-050);
  box-sizing: border-box;
}
.cng-c1,
.component-21 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 208px;
  height: 32px;
}
.cng-c1 {
  top: 47px;
  left: 848px;
  height: 112px;
}
.ni-dung-bng2,
.ni-dung-bng3 {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 1080px;
  height: 165px;
}
.ni-dung-bng2 {
  top: 137px;
  left: 172px;
  border-radius: var(--br-3xs);
  background-color: var(--color-text-inverse);
  width: 1120px;
  height: 625px;
}
.title1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 32px;
  display: inline-block;
  width: 558px;
}
.button73 {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% + 421px);
  border-radius: var(--br-10xs);
  background-color: var(--buttom);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-150) var(--space-150);
  box-sizing: border-box;
  min-height: 32px;
  text-align: center;
  font-size: var(--buttom-size);
  color: var(--color-text-inverse);
}
.header1 {
  position: absolute;
  top: 81px;
  left: 172px;
  width: 1120px;
  height: 32px;
  text-align: left;
  font-size: var(--title-web-size);
}
.blanket1,
.class1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
  width: 1440px;
  height: 848px;
}
.blanket1 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-blanket-default);
  overflow: hidden;
}
.heading-h6001 {
  position: relative;
  line-height: 24px;
}
.modalheader1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space-300) var(--space-300) var(--space-200);
  gap: var(--space-100);
  font-size: var(--h2-size);
}
.blank-line {
  margin: 0;
}
.lorem-ipsum-dolor-container1 {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.modalbody1,
.slot-content-modalbody-tex1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.slot-content-modalbody-tex1 {
  flex-direction: row;
  padding: var(--space-300) var(--space-300);
}
.modalbody1 {
  flex-direction: column;
  color: var(--color-text-subtle);
}
.button75 {
  border-radius: var(--br-10xs);
  background-color: var(--color-background-warning-bold-default);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-150) var(--space-150);
  box-sizing: border-box;
  min-height: 32px;
  color: var(--black);
}
.modalfooter1,
.thng-tin-cnh-bo1 {
  background-color: var(--color-text-inverse);
  overflow: hidden;
  display: flex;
}
.modalfooter1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--space-200) var(--space-300) var(--space-300);
  gap: var(--space-100);
  text-align: center;
}
.thng-tin-cnh-bo1 {
  position: absolute;
  top: 336px;
  left: 520px;
  border-radius: var(--br-10xs);
  box-shadow: var(--light-elevationshadowoverlay);
  width: 400px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.mn-hnh-cnh-bo1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
}
.end-class {
  position: relative;
  width: 100%;
  height: 848px;
  text-align: center;
  font-size: var(--buttom-size);
  color: var(--color-text-default);
  font-family: var(--h2);
}
