.icon65 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button113 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-050) var(--space-050);
  box-sizing: border-box;
  min-height: 32px;
}
.icon-before53,
.navigator6 {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-before53 {
  width: 24px;
  height: 24px;
  display: none;
}
.children62 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.container132 {
  align-items: center;
  justify-content: center;
  gap: var(--space-050);
}
.button114,
.container132,
.page39 {
  display: flex;
  flex-direction: row;
}
.button114 {
  border-radius: var(--br-10xs);
  background-color: var(--color-background-selected-default);
  align-items: center;
  justify-content: center;
  padding: var(--space-150) var(--space-150);
  box-sizing: border-box;
  min-height: 32px;
}
.page39 {
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--buttom);
}
.ellipses-label6 {
  position: relative;
  line-height: 20px;
}
.ellipsis6 {
  height: 32px;
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-100) var(--space-100);
  box-sizing: border-box;
  font-family: var(--internal-side-navigation-button-item-description);
}
.children63 {
  position: relative;
  line-height: 120%;
  font-weight: 500;
}
.button115 {
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-150) var(--space-150);
  box-sizing: border-box;
  min-height: 32px;
}
.page40,
.page41 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.page40 {
  display: flex;
}
.page41 {
  display: none;
}
.ellipsis7,
.pagination3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ellipsis7 {
  height: 32px;
  overflow: hidden;
  justify-content: center;
  padding: var(--space-100) var(--space-100);
  box-sizing: border-box;
  font-family: var(--internal-side-navigation-button-item-description);
}
.pagination3 {
  position: absolute;
  top: 792px;
  left: 1259px;
  justify-content: flex-start;
}
.search7 {
  flex: 1;
  position: relative;
  line-height: 20px;
  z-index: 0;
}
.icon-searchicon3 {
  position: absolute;
  margin: 0 !important;
  top: 6px;
  left: 10px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.box73,
.search6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.search6 {
  border-radius: var(--br-8xs);
  background-color: var(--color-text-inverse);
  border: 2px solid var(--color-border-input);
  box-sizing: border-box;
  width: 372px;
  height: 32px;
  align-items: center;
  padding: var(--space-100) var(--space-100) var(--space-100) var(--space-500);
  position: relative;
  font-size: var(--buttom-size);
  color: var(--deprecated-light-colortextsubtlest);
  font-family: var(--h2);
}
.box73 {
  border-radius: var(--br-base);
  background-color: var(--color-background-neutral-subtle-default);
  align-items: flex-start;
  padding: var(--space-050);
  z-index: 0;
}
.children75 {
  position: relative;
  line-height: 12px;
}
.badge3 {
  margin: 0 !important;
  position: absolute;
  top: -2px;
  right: -4px;
  border-radius: var(--br-5xs);
  background-color: var(--danger);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--space-025) var(--space-075);
  z-index: 1;
}
.tooltip-content18 {
  flex: 1;
  position: relative;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tooltip18 {
  margin: 0 !important;
  position: absolute;
  top: 36px;
  left: calc(50% - 41.5px);
  border-radius: var(--br-10xs);
  background-color: var(--color-text-subtle);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-025) var(--space-075);
  box-sizing: border-box;
  opacity: 0;
  max-width: 420px;
  z-index: 2;
  text-align: left;
}
.notificationindicator3 {
  border-radius: var(--br-80xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  text-align: center;
}
.tooltip19 {
  margin: 0 !important;
  position: absolute;
  top: 36px;
  left: calc(50% - 25px);
  border-radius: var(--br-10xs);
  background-color: var(--color-text-subtle);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-025) var(--space-075);
  box-sizing: border-box;
  opacity: 0;
  max-width: 420px;
  z-index: 1;
}
.signin3 {
  border-radius: var(--br-80xl);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.tooltip20 {
  margin: 0 !important;
  position: absolute;
  top: 36px;
  left: calc(50% - 19px);
  border-radius: var(--br-10xs);
  background-color: var(--color-text-subtle);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--space-025) var(--space-075);
  box-sizing: border-box;
  opacity: 0;
  max-width: 420px;
  z-index: 1;
}
.global3,
.help3,
.tooltip20,
.tooltip21 {
  display: flex;
  flex-direction: row;
}
.help3 {
  border-radius: var(--br-80xl);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.global3,
.tooltip21 {
  align-items: center;
}
.tooltip21 {
  margin: 0 !important;
  position: absolute;
  top: 36px;
  left: calc(50% - 29px);
  border-radius: var(--br-10xs);
  background-color: var(--color-text-subtle);
  overflow: hidden;
  justify-content: center;
  padding: var(--space-025) var(--space-075);
  box-sizing: border-box;
  opacity: 0;
  max-width: 420px;
  z-index: 1;
}
.global3 {
  width: 452px;
  justify-content: flex-end;
  gap: var(--space-100);
}
.avatar-image-icon3 {
  position: relative;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.avatar3 {
  border-radius: var(--br-45xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tooltip-content22 {
  flex: 1;
  position: relative;
  line-height: 16px;
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tooltip22 {
  margin: 0 !important;
  position: absolute;
  top: 36px;
  right: -8px;
  border-radius: var(--br-10xs);
  background-color: var(--color-text-subtle);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-025) var(--space-075);
  box-sizing: border-box;
  opacity: 0;
  max-width: 420px;
  z-index: 1;
}
.profile3,
.right-panel3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.profile3 {
  border-radius: var(--br-80xl);
  width: 32px;
  align-items: flex-start;
  position: relative;
}
.right-panel3 {
  position: absolute;
  top: 12px;
  left: 920px;
  width: 496px;
  align-items: center;
  gap: var(--space-150);
}
.frame-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-text-inverse);
  width: 1440px;
  height: 56px;
  overflow: hidden;
}
.appswitcher3,
.tooltip23 {
  display: flex;
  flex-direction: row;
}
.tooltip23 {
  margin: 0 !important;
  position: absolute;
  top: 36px;
  left: -8px;
  border-radius: var(--br-10xs);
  background-color: var(--color-text-subtle);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--space-025) var(--space-075);
  box-sizing: border-box;
  opacity: 0;
  max-width: 420px;
  z-index: 1;
}
.appswitcher3 {
  border-radius: var(--br-80xl);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  font-size: var(--internal-side-navigation-button-item-description-size);
  color: var(--color-text-inverse);
  font-family: var(--internal-side-navigation-button-item-description);
}
.vn3 {
  position: absolute;
  bottom: 11px;
  left: 49px;
  background: linear-gradient(106.02deg, #0052cc, #2380fb 91.82%, #2684ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.isolation-mode-icon3 {
  position: absolute;
  height: 100%;
  width: 23.13%;
  top: 0;
  right: 74.83%;
  bottom: 0;
  left: 2.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.container145 {
  position: relative;
  width: 147px;
  height: 24px;
}
.logo-light3,
.logo3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-light3 {
  width: 106px;
  overflow: hidden;
}
.logo3 {
  width: 115px;
  padding: var(--space-050);
  box-sizing: border-box;
}
.container146,
.producthome3 {
  flex-direction: row;
  justify-content: flex-start;
}
.container146 {
  border-right: 1px solid var(--color-border-input);
  display: none;
  align-items: flex-start;
  padding: var(--space-200) var(--space-200) var(--space-200) var(--space-200);
  font-size: var(--buttom-size);
  font-family: var(--internal-side-navigation-button-item-description);
}
.producthome3 {
  width: 112px;
  height: 32px;
  display: flex;
  align-items: center;
  padding: var(--space-050) var(--space-050) var(--space-050) var(--space-050);
  box-sizing: border-box;
  gap: var(--space-200);
  font-size: var(--van-web-size);
  color: var(--deprecated-light-colortextsubtlest);
  font-family: var(--van-web);
}
.label28 {
  position: relative;
  line-height: 18px;
  font-weight: 600;
}
.button128 {
  border-radius: var(--br-10xs);
  background-color: var(--color-background-neutral-subtle-default);
  flex-direction: row;
  padding: var(--space-075) var(--space-075);
}
.button128,
.button129,
.code-parts-primarybutton18 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.code-parts-primarybutton18 {
  flex-direction: column;
  padding: var(--space-150) var(--space-150);
  cursor: pointer;
}
.button129 {
  border-radius: var(--br-10xs);
  flex-direction: row;
  padding: var(--space-075) var(--space-075);
  z-index: 0;
}
.selected3 {
  position: absolute;
  margin: 0 !important;
  width: calc(100% - 8px);
  right: 4px;
  bottom: 0;
  left: 4px;
  border-radius: var(--br-12xs) var(--br-12xs) 0 0;
  background-color: var(--buttom);
  height: 3px;
  z-index: 1;
}
.code-parts-primarybutton19 {
  position: relative;
  color: var(--buttom);
}
.button134,
.code-parts-primarybutton19,
.code-parts-primarybutton23 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--space-150) var(--space-150);
}
.button134 {
  position: absolute;
  top: 0;
  left: 43px;
  border-radius: var(--br-10xs);
  background-color: var(--buttom);
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  min-height: 32px;
}
.button-wrapper1 {
  position: relative;
  width: 181px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  text-align: center;
  font-size: var(--buttom-size);
  color: var(--color-text-inverse);
}
.left-panel3 {
  position: absolute;
  top: 1px;
  left: 12px;
  width: 812px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--menu-size);
  color: var(--color-text-subtle);
  font-family: var(--h2);
}
.menu3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 57px;
  text-align: left;
  font-size: var(--internal-side-navigation-button-item-description-size);
  color: var(--color-text-inverse);
  font-family: var(--internal-side-navigation-button-item-description);
}
.minheight-controller-40px72 {
  height: 40px;
}
.header-label18 {
  flex: 1;
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.code-parts-header18,
.container148 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container148 {
  flex: 1;
  padding: var(--space-100) var(--space-100);
}
.code-parts-header18 {
  align-self: stretch;
  border-bottom: 2px solid var(--color-border-input);
  color: var(--color-text-subtle);
}
.cell-label54 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  display: none;
}
.box79,
.container149 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space-025) var(--space-025);
}
.container149 {
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-100) var(--space-100);
}
.code-parts-cell54 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-border-input);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell-label55 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.container150 {
  flex: 1;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--space-100) var(--space-100);
}
.trng-thi3 {
  position: absolute;
  top: 0;
  left: 824px;
  width: 256px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.header-label19 {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.code-parts-header19 {
  align-self: stretch;
  border-bottom: 2px solid var(--color-border-input);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: var(--color-text-subtle);
}
.tn-trng-hc3 {
  position: absolute;
  top: 0;
  left: 552px;
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nm-hc3 {
  left: 379px;
  width: 172.9px;
}
.nm-hc3,
.s-hc-sinh3,
.stt3 {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.s-hc-sinh3 {
  left: 225px;
  width: 154px;
}
.stt3 {
  right: 972px;
  width: 108px;
}
.code-parts-cell69 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-border-input);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.lp-hc3 {
  position: absolute;
  top: 0;
  left: 108px;
  width: 117px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button135,
.button136,
.button137,
.button138,
.sa9 {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 84.62%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--ee2b8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-050) var(--space-050);
  box-sizing: border-box;
}
.button135,
.button136,
.button137,
.button138 {
  right: 63.46%;
  left: 21.15%;
  background-color: var(--buttom);
}
.button136,
.button137,
.button138 {
  right: 42.31%;
  left: 42.31%;
  background-color: var(--cce0ff);
}
.button137,
.button138 {
  right: 21.15%;
  left: 63.46%;
  background-color: var(--color-background-warning-bold-default);
}
.button138 {
  right: 0;
  left: 84.62%;
  background-color: var(--danger);
}
.button146,
.component-13,
.component-33 {
  position: absolute;
  top: 0;
  left: 0;
  width: 208px;
  height: 32px;
}
.button146,
.component-33 {
  top: 80px;
}
.button146 {
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.62%;
  border-radius: var(--br-10xs);
  background-color: var(--color-background-neutral-subtle-hovered);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-050) var(--space-050);
  box-sizing: border-box;
}
.cng-c3,
.component-23 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 208px;
  height: 32px;
}
.cng-c3 {
  top: 47px;
  left: 848px;
  height: 112px;
}
.ni-dung-bng6,
.ni-dung-bng7 {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 1080px;
  height: 165px;
}
.ni-dung-bng6 {
  top: 137px;
  left: 172px;
  border-radius: var(--br-3xs);
  background-color: var(--color-text-inverse);
  width: 1120px;
  height: 625px;
}
.title5 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 32px;
  display: inline-block;
  width: 558px;
}
.button147 {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% + 421px);
  border-radius: var(--br-10xs);
  background-color: var(--buttom);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-150) var(--space-150);
  box-sizing: border-box;
  min-height: 32px;
  text-align: center;
  font-size: var(--buttom-size);
  color: var(--color-text-inverse);
}
.header3 {
  position: absolute;
  top: 81px;
  left: 172px;
  width: 1120px;
  height: 32px;
  text-align: left;
  font-size: var(--title-web-size);
}
.class3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
  width: 1440px;
  height: 848px;
}
.parts-icon-success-checkc {
  position: relative;
  width: 24px;
  height: 24px;
}
.title6 {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.container-icon-title,
.container-title {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space-025) var(--space-075) var(--space-075) var(--space-200);
}
.container-icon-title {
  padding: var(--space-050) var(--space-050) var(--space-050);
}
.icon86 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.dismissbutton {
  border-radius: var(--br-10xs);
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
  box-sizing: border-box;
}
.container-custom-icon-button,
.container-icon-title-dism {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-custom-icon-button {
  padding: var(--space-100) var(--space-100) var(--space-100) var(--space-100);
}
.container-icon-title-dism {
  align-self: stretch;
}
.button148 {
  border-radius: var(--br-10xs);
  flex-direction: row;
  justify-content: center;
  padding: var(--space-150) var(--space-150);
  box-sizing: border-box;
  min-height: 24px;
}
.actions,
.button148,
.div {
  display: flex;
  align-items: center;
}
.div {
  position: relative;
  line-height: 20px;
  font-family: var(--font-sf-pro-text);
  color: var(--color-text-subtle);
  justify-content: center;
  width: 16px;
  flex-shrink: 0;
}
.actions {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--space-100) var(--space-100) var(--space-100);
  text-align: center;
  color: var(--buttom);
  font-family: var(--h2);
}
.collapsable-content,
.flag {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.collapsable-content {
  align-self: stretch;
  display: none;
  padding: var(--space-500) var(--space-500) var(--space-500) var(--space-500);
  font-size: var(--buttom-size);
  color: var(--color-text-subtle);
  font-family: var(--internal-side-navigation-button-item-description);
}
.flag {
  position: absolute;
  top: 770px;
  left: 172px;
  border-radius: var(--br-10xs);
  background-color: var(--color-text-inverse);
  box-shadow: var(--light-elevationshadowoverlay);
  width: 411px;
  overflow: hidden;
  display: flex;
  padding: var(--space-200);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--checkbox-size);
}
.share-class {
  position: relative;
  width: 100%;
  height: 848px;
  text-align: center;
  font-size: var(--buttom-size);
  color: var(--color-text-default);
  font-family: var(--h2);
}
